<% provide :title, t("static_pages.contactPage.contact") %>
<h1><%= t "static_pages.contactPage.contact" %></h1>
<p>
  <%= t "static_pages.contactPage.header" %>
  <%= link_to t("static_pages.contactPage.contactpage"), Settings.client.contact %>.
</p>
